@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primario: #000000;
  --color-secundario: #F6F6F6;
  --color-terciario: #22D4FD;
  --color-cuaternario: #a8abbc;
  --color-quinternario: #1E90FF;
  --color-sextenario: #130707 ;
  --color-hover: #272727;

  --fuente-montserrat: "Montserrat", sans-serif;
  --fuente-krona-one: "Krona One", sans-serif;
}
/*#aeaebc: iconos footer*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  box-sizing: border-box;
  /* height: 100vh; */
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

strong {
  color: var(--color-terciario);
}

.header {
  padding: 2% 0% 0% 15%;
  /*doc: 15% alinea con el titulo ver3*/
}

.header__menu {
  display: flex;
  gap: 80px;
}

.header__menu__link {
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  /*16px=1rem rem=unidad relativa ayuda a la responsiva*/
  font-weight: 600;
  color: var(--color-terciario);
  text-decoration: none;
}

.presentacion {
  display: flex;
  align-items: center;
  margin: 3% 15%;
  /*ver3*/
  justify-content: space-between;
  gap: 82px;
}

.presentacion__contenido {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentacion__contenido__titulo {
  font-size: 36px;
  font-family: var(--fuente-krona-one);
}

.titulo-destaque {
  color: var(--color-terciario);
}

.briefcase {
  height: 35px;
}

.presentacion__contenido__texto {
  font-size: 1.5rem;
  font-family: var(--fuente-montserrat);
}

.presentacion__enlaces {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.presentacion__enlaces__subtitulo {
  font-family: var(--fuente-krona-one);
  font-size: 1.5rem;
  font-weight: 400;
}

.presentacion__enlaces__link {
  width: 50%;
  text-align: center;
  padding: 21.5px 0;
  font-family: var(--fuente-montserrat);
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-secundario);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.presentacion__imagen {
  width: 31%;
  border-radius: 16px;
}

.presentacion__imagen:hover {
  transform: scale(1.1) rotate(6deg);
}

/* EXPERIENCE SECTION */

.experienceSection {
  /* margin: 50px auto; */
  margin-top: 30px;
}

.experienceSection h2 {
  color: var(--color-secundario);
  font-size: var(--color-primario);
  margin-bottom: 30px;
}

.experienceSection h2 svg {
  width: 20px;
  height: 20px;
}

/* ol */
.experienceList {
  border-inline-start: 1px solid var(--color-terciario);
  /*linea vertical*/
  position: relative;
}

.experienceItemList {
  padding-left: 20px;
  padding-bottom: 40px;
}

.experienceItemList time {
  color: var(--color-secundario);
}

.experienceItemList h3 {
  color: var(--color-terciario);
  font-size: 30px;
  text-wrap: pretty;
}

.experienceItemList p {
  color: var(--color-secundario);
  margin: 0 0 30px 0;
  font-size: 20px;
}

.experienceItemList a {
  padding: 2px 25px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--color-terciario);
  width: max-content;
  display: flex;
  align-items: center;
  gap: 5px;
}

.experienceItemList a:hover {
  color: var(--color-secundario);
  scale: 1.08;
}

.decorativeCircleList {
  height: 13px;
  width: 13px;
  background-color: var(--color-terciario);
  border-radius: 50%;
  position: absolute;
  left: -5px;
  margin-top: 7px;
}

/* Seccion Proyectos */

.presentacion__proyecto {
  width: 100%;
  height: auto;
  display: grid;
  align-items: center;
  gap: 100px;
  place-items: center;
}

.proyecto {
  width: 100%;
  height: auto;
  position: relative;
}

.proyecto::after {
  /*linea*/
  position: absolute;
  content: ' ';
  width: 2px;
  /*ancho de la línea*/
  height: 100%;
  /*tamaño de la linea*/
  background-image: linear-gradient(to bottom, var(--color-terciario), var(--color-secundario));
  /*color de línea*/
}

.proyecto ul {
  list-style: none;
  /*viñeta*/
}

.proyecto ul li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  /*tamaño de las cajas*/
  background-color: var(--color-primario);
  box-shadow: 1px 1px 25px var(--color-terciario);
  border-radius: 10px;
  margin-bottom: 30px;
  z-index: 99;
  position: relative;
}

.proyecto ul li:nth-child(odd) {
  /*cajas izq*/
  float: left;
  clear: right;
  transform: translateX(-28px);
  text-align: right;
}

.proyecto ul li:nth-child(odd) .proyecto_fecha {
  right: 20px;
  /*fecha posicion caja*/
}

.proyecto ul li:nth-child(even) {
  /*cajas derec*/
  float: right;
  clear: left;
  transform: translateX(110px);
  /*ojo caja eje x*/
}

.proyecto ul li:nth-child(5) {
  /*poner cuantas cajas hay*/
  margin-bottom: 0;
}

.proyecto__titulo {
  font-family: var(--fuente-krona-one);
  font-size: 1.2rem;
  color: var(--color-terciario);
}

.proyecto__subtitulo {
  font-family: var(--fuente-krona-one);
  font-size: 0.9rem;
  color: var(--color-cuaternario);
  margin: 5px;
}

ul li p {
  font-size: 0.9rem;
  font-family: var(--fuente-montserrat);
  color: var(--color-secundario);
  margin: 7px 0;
  line-height: 23px;
  /*entrelineado del párrafo*/
}

ul li a {
  margin: 0 10px 0 0;
}

ul li a img {
  width: 35px;
  gap: 0 20px 20px 50px;
}

ul li a img:hover {
  scale: 1.5;
}

ul li .proyecto_fecha {
  position: absolute;
  top: -46px;
  /*posicion de la caja de fecha*/
  width: 135px;
  height: 35px;
  border-radius: 20px;
  color: var(--color-primario);  
  background-image: linear-gradient(to right, var(--color-terciario), var(--color-cuaternario));
  /*color de línea*/
  display: grid;
  place-items: center;
  font-size: 18px;
}

.proyecto ul li .proyecto__circulo {
  /*circulo de afuera*/
  width: 30px;
  height: 30px;
  background-color: var(--color-terciario);
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.proyecto ul li .proyecto__circulo::after {
  /*circulo de adentro*/
  content: ' ';
  width: 15px;
  height: 15px;
  background-color: var(--color-primario);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.proyecto ul li:nth-child(odd) .proyecto__circulo {
  right: -30px;
  transform: translate(50%, -50%);
  /*posicion circulo izq: horiz-vertic*/
}

.proyecto ul li:nth-child(even) .proyecto__circulo {
  left: -30px;
  transform: translate(-50%, -50%);
  /*posicion circulo der*/
}

li:hover {
  scale: 1.01;
}

.footer {
  background-color: var(--color-sextenario); 
  padding: 15px;
  color: var(--color-terciario);
  text-align: center;
  font-family: var(--fuente-montserrat);
  font-size: 1.1rem;
  font-weight: 400;
  align-items: center;
}

.footer__imagen {
  width: 1.8%;
  padding: 0 10px 3px;
}

.footer__imagen:hover {
  scale: 1.5;
}

@media screen and (max-width: 1224px) {

  .header {
    padding: 10%;
  }

  .header__menu {
    justify-content: center;
  }

  .presentacion {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .presentacion__contenido {
    width: auto;
  }

  .proyecto {
    width: 85%;
  }

  @media screen and (max-width: 933px) {
    .header {
      padding: 10%;
    }

    .header__menu {
      justify-content: left;
    }

    .header__menu {
      display:grid;
      gap: 10px;
    }

    .presentacion {
      
      margin: 10% 15% 10% 10%;/*OJO revisar esto*/
      gap: 82px;
    }

    .proyecto {
      width: 80%;
      transform: translateX(15px);
    }

    .proyecto ul::after {
      left: -28px;
    }

    .proyecto ul li {
      width: 100%;
      float: none;
      clear: none;
      margin-bottom: 80px;
    }

    .proyecto ul li:nth-child(odd) {
      transform: translateX(-20px);
      text-align: left;
    }

    .proyecto ul li:nth-child(odd) .proyecto_fecha {
      left: 20px;
    }

    .proyecto ul li:nth-child(odd) .proyecto__circulo {
      left: -20px;
      transform: translate(-50%, 50%);
    }

    .proyecto ul li:nth-child(even) {
      transform: translateX(20px);
    }
  }
}